
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-erweima:before {
  content: "\e60c";
}

.icon-choose:before {
  content: "\e614";
}

.icon-weigouxuanv2:before {
  content: "\e690";
}

.icon-xiaoxi:before {
  content: "\e618";
}

.icon-icon11:before {
  content: "\e60a";
}

.icon-icon12:before {
  content: "\e60b";
}

.icon-xuanze2:before {
  content: "\e63b";
}

.icon-shezhi:before {
  content: "\e604";
}

.icon-aixin:before {
  content: "\e658";
}

.icon-zuo:before {
  content: "\e63c";
}

.icon-plus-checkbox:before {
  content: "\e738";
}

.icon-suo:before {
  content: "\e657";
}

.icon-dui:before {
  content: "\e600";
}

.icon-zhiyeshengyamubiao:before {
  content: "\e7b5";
}

.icon-kefu:before {
  content: "\e646";
}

.icon-shanchu:before {
  content: "\e626";
}

.icon-you:before {
  content: "\e627";
}

.icon-jiesuandanliebiao:before {
  content: "\e611";
}

.icon-zhongzhi:before {
  content: "\e628";
}

.icon-tongjifenxi:before {
  content: "\e6db";
}

.icon-fuzhi:before {
  content: "\e606";
}

.icon-duihao:before {
  content: "\e629";
}

